name: Autograding Tests
on:
  - push
  - repository_dispatch

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Install dependencies
        run: npm install
        
      - name: Run tests
        run: npm test
        
      - name: Run build
        run: npm run build
        
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          INSTALL-DEPENDENCIES_RESULTS: "${{steps.install-dependencies.outputs.result}}"
          FILE-STRUCTURE-TEST_RESULTS: "${{steps.file-structure-test.outputs.result}}"
          COMPONENT-TESTS_RESULTS: "${{steps.component-tests.outputs.result}}"
          CODE-QUALITY-TESTS_RESULTS: "${{steps.code-quality-tests.outputs.result}}"
          BUILD-TEST_RESULTS: "${{steps.build-test.outputs.result}}"
          LINT-TEST_RESULTS: "${{steps.lint-test.outputs.result}}"
        with:
          runners: install-dependencies,file-structure-test,component-tests,code-quality-tests,build-test,lint-test
